<!-- <!DOCTYPE html>
<html lang="es">

<body>
    <div id="bodymo">
        <div class="bm" data-file="../source/404anim.json"></div>
    </div>

    <h2 class="Form_titu-ls">OOPS!! PARECE QUE TE HAS PERDIDO O HAS ENCONTRADO UN PEQUEÑO SALTO EN EL TIEMPO</h2>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js'
        integrity='sha512-w58XJ/0dVbEfZVJoJyBUOTMGBWmIW4jEYJSA0898d2L0Ghpum0FvwK7qTuHhkTctApzrchv3Neli+28ajI4+fg=='
        crossorigin='anonymous'></script>
</body> -->