<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../source/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../source/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../source/favicon-16x16.png">
    <link rel="manifest" href="../source/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Boxible</title>
</head>


<main>
    <h1 class="titulo-app">entrenamientos extra por hacer</h1>
    <button id="btnCrearPdf"><i class="fad fa-cloud-download"></i></button>
    <div id="lists"></div>
    <div id="add-container">
        <form action="" id="formitnew">
            <input type="text" id="itnew" autocomplete="off" placeholder="Crear un nuevo entreno">
            <select name="" id="slist">
            </select>
        </form>
    </div>
    <div id="todos">
    </div>
    <p class="legal">BOXIBLE&copy;2021</p>
</main>

</html>