<!--*HTML DEL SIDEBAR-->
<div class="l-navbar" id="navbar">
    <nav class="barra">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="/#/" class="nav__logo">Boxible</a>
            </div>
            <div class="nav__list">
                <div class="nav__link collapse">
                    <ion-icon name="heart-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Acerca</span>
                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                    <ul class="collapse__menu">
                        <p id="info_menu"> Boxible es una app hecha por y para deportistas y personas que deseen
                            llevar un control
                            de su entrenamiento.</p>
                    </ul>
                </div>

                <div class="nav__link collapse">
                    <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Desarrollador</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <img id="pic_menu" src="../source/usuario.jpeg" alt="pic">
                        <p>Christopher Henry AA.</p>
                    </ul>
                </div>
                <div class="nav__link collapse">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">opciones</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="#" class="collapse__sublink">Tema oscuro</a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>