<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../source/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../source/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../source/favicon-16x16.png">
    <link rel="manifest" href="../source/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
        integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
        crossorigin="anonymous"></script>

</head>
<!--*registro sesión-->
<div class="container" id="containerlg">
    <div class="form-container sign-up-container">
        <form role="form" class="formulario" id="signup-form" action="">
            <h1>Crea una cuenta utilizando un correo!</h1>
            <input type="text" name="fname" class="fname" id="signup-name" placeholder="Nombre" required />
            <input type="email" name="femail" class="femail" id="signup-email" placeholder="Email" required />
            <input type="password" name="fpassW" class="fpassW" id="signup-password" placeholder="Contraseña" required
                autocomplete="off" />
            <button type="submit" value="Validate!" class="btn_enviarFr">Registrarse</button>
        </form>
    </div>
    <!--*iniciar sesión-->
    <div class="form-container sign-in-container">
        <form role="form" class="formulario2" id="login-form" action="">
            <h1>Inicia Sesión con tus redes preferidas</h1>
            <div class="social-container">
                <a class="social" id="facebookLogin"><i class="fab fa-facebook-f"></i></a>
                <a class="social" id="googleLogin"><i class="fab fa-google-plus-g"></i></a>
                <a class="social" id="githubLogin"><i class="fab fa-github"></i></a>
            </div>
            <span>o usa tu cuenta</span>
            <input type="email" name="femail2" class="femail2" id="login-email" placeholder="Email" required
                autocomplete="off" />
            <input type="password" name="fpassW2" class="fpassW2" id="login-password" placeholder="Contraseña" required
                autocomplete="current-password" />
            <a id="forgotPss">¿olvido la contraseña?</a>
            <button type="submit" value="Validate!" class="btn_enviarFr2">Iniciar Sesión</button>
        </form>
    </div>
    <!--*efecto animado login-->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hola de vuelta</h1>
                <p>Para mantenerte conectado por favor inicia sesión</p>
                <button class="ghost" id="signIn">Iniciar sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Bienvenido </h1>
                <p>¿No tienes una cuenta? registrase con su informacion o puedes continuar navegando de forma anónima
                </p>
                <button class="ghost" id="signUp">Registrarse</button>
            </div>
        </div>
    </div>
</div>
<!--*HTML DEL SIDEBAR-->
<div class="l-navbar" id="navbarSide">
    <nav class="barra">
        <div>
            <div class="nav__brandSide">
                <ion-icon name="menu-outline" class="nav__toggleSide" id="nav-toggle"></ion-icon>
                <a href="/#/" class="nav__logoSide">Boxible</a>
            </div>
            <div class="nav__list">
                <div class="nav__linkSide collapse">
                    <ion-icon name="heart-outline" class="nav__iconSide"></ion-icon>
                    <span class="nav__nameSide">Acerca</span>
                    <ion-icon name="chevron-down-outline" class="collapse__linkSide"></ion-icon>
                    <ul class="collapse__menuSide">
                        <p id="info_menu"> Boxible es una app hecha por y para deportistas y personas que deseen
                            llevar un control
                            de su entrenamiento.</p>
                    </ul>
                </div>

                <div class="nav__linkSide collapse">
                    <ion-icon name="people-outline" class="nav__iconSide"></ion-icon>
                    <span class="nav__nameSide">Desarrollador</span>

                    <ion-icon name="chevron-down-outline" class="collapse__linkSide"></ion-icon>

                    <ul class="collapse__menuSide">
                        <img id="pic_menu" src="../source/usuario.jpeg" alt="pic">
                        <a href="https://github.com/devchrisar" rel="noopener noreferrer" target="_blank">Christopher
                            Henry AA.</a>
                    </ul>
                </div>
                <div class="nav__linkSide collapse">
                    <ion-icon name="settings-outline" class="nav__iconSide"></ion-icon>
                    <span class="nav__nameSide">opciones</span>

                    <ion-icon name="chevron-down-outline" class="collapse__linkSide"></ion-icon>

                    <ul class="collapse__menuSide">
                        <a href="#/" class="collapse__sublinkSide Activado" id="switchTheme">Tema oscuro</a>
                    </ul>
                </div>
            </div>
            <div class="nav__brand">
                <ion-icon name="cloudy-night-outline" class="nav__toggleSide" id="nav-toggle"></ion-icon>
            </div>
            <p id="navTheme_p">Eden</p>
            <img id="pic_Theme" src="../source/eden">
            <p id="navTheme_p2" class="nav_hidden">Nova</p>
            <img id="pic_Theme2" class="nav_hidden" src="../source/nova" alt="pic">
        </div>
        <div class="nav__brandSide">
            <div class="nav__toggleSide">
                <ion-icon name="log-out" class="nav__iconSide" id="l0gOut_icon"></ion-icon>
            </div>
            <div class="wrapperBtn">
                <div class="link_wrapperBtn" id="l0gOut_div">
                    <a id="logout">Cerrar sesión!</a>
                    <div class="iconBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                            <path
                                d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>

<div id="contenedor-HOME_central">
    <section class="hero">
        <nav id="ContenidoPagHome_barra">
            <section class="profilebox">
                <img class="profpic" id="User_logO" src="../source/Home_avatar" alt="profile picture" />
                <!--?imagen traída de firebase-->
                <div id="ImagenDinam"></div>
                <header>
                    <h1 class="prof-name" id="User-Name">Anon User</h1>
                    <h4 class="prof-user" id="User-Email">email@example.com</h4>
                </header>
            </section>
        </nav>
        <div class="container">
            <div class="image">
                <img src="../source/FitnessStats.svg">
            </div>

            <div class="details">
                <div class="top">
                    <h2>Preparate para un<span> +</span> <br> en tu entrenamiento</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- *service section markup -->

    <section class="services">
        <div class="container">
            <div class="left">
                <h3>Disfruta de utilizar nuestra app</h3>
                <p>Que te permitirá elegir cuál es tu objetivo, calcular tu nivel de actividad, escoger preferencias
                    en cuanto a alimentación, etc. De esta manera la aplicación te ofrece un seguimiento en cuanto a tu
                    entrenamiento y alimentación de forma completa.</p>

                <div class="action">
                    <a>Diviértete!!!</a>
                </div>
            </div>

            <div class="right">
                <div class="center">
                    <img src="../source/runner.svg">
                </div>
            </div>
        </div>
    </section>

    <!-- test*imonials section markup -->

    <section class="testimonials">
        <div class="container">
            <div class="heading">
                <h3>Algunas palabras de nuestros usuarios</h3>
                <p>De parte del equipo de Boxible, agradecemos y los instamos a dejarnos vuestros pensamientos.</p>
            </div>

            <div class="box">
                <div class="left">
                    <img src="../source/pcComents.svg" width="400px">
                </div>

                <div class="right">
                    <div class="quote">
                        <p>Muy útil la app. Para a si saber las calorías que estoy quemando según la distancia y el
                            tiempo, a si tengo la seguridad de que si estoy aprovechando el tiempo en ejercitarme al
                            máximo.</p>
                        <cite>Victor Lopez</cite>
                    </div>
                </div>
                <div class="right">
                    <div class="quote">
                        <p>Me encanta esta app para motivarme. Cuantifica mi movimiento automáticamente pero además
                            tiene la flexibilidad de permitir que incluyas otros tipos de ejercicios, su duración e
                            intensidad☺️👍.</p>
                        <cite>Carmen</cite>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- *join section markup -->

    <section class="join">
        <div class="container">
            <div class="heading">
                <h3>Suscribete</h3>
                <p>Te enviaremos un correo sobre nuevos cambios <br> directo a tu buzón para mantenerte al dia :D</p>
            </div>

            <div class="Form-action">
                <form>
                    <input type="email" name="Bzn_email" id="Input_Bzn-mail" placeholder="Correo Electrónico"
                        autocomplete="off">
                    <input type="submit" name="Bzn_submit" value="Enviar🚀">
                </form>
            </div>
        </div>
    </section>

    <!-- *footer markup -->

    <footer>
        <div class="container">
            <img src="../source/logo_transp.svg" width="100px">

            <p>&copy; 2021 - <a>BOXIBLE</a> Todos Los Derechos Reservados</p>
            <p>De Christopher con ❤️</p>
        </div>
    </footer>
</div>