<!DOCTYPE html>
<html lang="en" class="NUhtml">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../source/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../source/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../source/favicon-16x16.png">
    <link rel="manifest" href="../source/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">
    <title>Boxible</title>
</head>
<section class="NUsection">
    <div class="NUcontenedor initial">
        <h1 class="titulo_food">Convierta su cocina en un arte culinario y saludable!</h1>
        <form action="" class="NUform">
            <input type="text" placeholder="Encuentre su alimento" id="NUinput">
            <i class="fa fa-search"></i>
        </form>
        <div class="resultado_bsqFood">
        </div>
    </div>
</section>

</html>