main {
    background-color: #20142d;
    margin-top: 10px;
    margin-left: 34%;
    width: 500px;
    font-size: 18px;
    border-radius: 30px;
}

.titulo-app {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #e0e5eb;
    text-shadow:
        -8px -8px 12px rgba(255, 255, 255, 0.4),
        8px 8px 12px rgba(0, 0, 0, 0.08);
    caret-color: #262626;
    outline: none;
    padding: 30px 20px 20px 20px;
}

input,
button,
select {
    font-size: 18px;
}


#todos {
    padding: 20px;
}

.todo {
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.todo:hover {
    background-color: rgba(130, 49, 208, 0.5);
}

.todo .checkbox-container {
    width: calc(100% - 36px);
    color: #D262B3;
}

.todo button {
    border: 0;
    background: none;
    background-image: url(../source/delete.svg);
    background-color: #D262B3;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;

}

.todo button:hover svg {
    fill: rgb(255, 137, 124);
}

#lists {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

#lists .list {
    background-color: #8231d0;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

#add-container {
    background-color: #3f1d63;
    margin: 10px 0;
    padding: 10px;
}

#add-container form {
    display: flex;
    align-items: baseline;
}

#add-container form select {
    border: 0;
    padding: 5px;
    outline: none;
    width: 30%;
    margin-left: 10px;
    justify-content: flex-end;
}

#add-container form input {
    padding: 10px 0;
    width: 70%;
    outline: none;
    border: none;
    background: transparent;
}

#add-container form::before {
    content: '';
    width: 10px;
    height: 10px;
    border: solid #D262B3;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    margin-right: 10px;
}

.legal {
    margin: auto 200px;
    font-size: 15px;
    color: #FAFCF5;
}

#return_btn {
    display: flex;
    align-items: center;
    margin: 10px auto;
    background-color: #20142d;
    color: #FAFCF5;
    border-radius: 30px;
    width: 140px;
    height: 60px;
}



.fa-arrow-alt-to-right {
    color: #D262B3;
    font-size: 40px;
    margin-left: 10px;
}

.fa-arrow-alt-to-right:hover {
    color: #8231d0;
}

#btnCrearPdf {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    margin-left: 25rem;
    background: transparent;
    border: hidden;
}

.fa-cloud-download {
    font-size: 40px;
    color: #D262B3;
}

#itnew,
#slist {
    color: white;
    background-color: #3f1d63;
}


/* on smaller viewports show the navigation bar on the side, attached to the left of the screen */
.cambiado {
    flex-direction: column;
    justify-self: start;
    border-radius: 0 30px 30px 0;
    padding: 2rem 1.15rem 2rem 0.75rem;
    margin-right: -27%;
    float: right;
    top: 27%;
}

/* change the margin separating the anchor link elements now dividing the elements vertically */
.cambiado a {
    margin: 0.5rem 0;
}

/* remove the negative margin from the svg elements, as the width is to be taken in full */
.cambiado svg {
    margin: 0;
}