:root {
    --nav-width: 40px;

    /*?===== Colores =====*/
    --first-color: #D262B3;
    --first-color_Dark: #574AE2;
    --bg-color: #12192C;
    --sub-color: #B6CEFC;
    --white-color: #FFF;

    /*?===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /*?===== z index =====*/
    --z-fixed: 100;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: #FAFAFF;
}

/**=====CSS DEL login  =====*/
#containerlg h1 {
    font-weight: bold;
    margin: 0;
}

#containerlg h2 {
    text-align: center;
}

#containerlg p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

#containerlg span {
    font-size: 12px;
}

#containerlg a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

#containerlg button {
    border-radius: 20px;
    border: 1px solid #8231d0;
    background-color: #8231d0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#containerlg button:active {
    transform: scale(0.95);
}

#containerlg button:focus {
    outline: none;
}

#containerlg button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

#containerlg form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

#containerlg input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

#containerlg {
    padding: 2rem 0 0 6.75rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1700px;
    max-width: 100%;
    min-height: 480px;
    background: #f6f5f7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 50px 50px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#containerlg .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #3f1d63;
    background: -webkit-linear-gradient(to right, #451479, #3f1d63);
    background: linear-gradient(to right, #451479, #3f1d63);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social-container .fa-facebook-f {
    color: cornflowerblue;
}

.social-container .fa-google-plus-g {
    color: red;
}

.social-container .fa-linkedin-in {
    color: blue;
}

#forgotPss {
    cursor: pointer;
}

#forgotPss:hover {
    color: red;
}

/*?mensajerror form*/
label.error {
    position: relative;
    background: #b67ffe;
    padding: 5px 10px;
    min-width: 5px;
    border-radius: 2px;
    border-left: 8px solid #4c0487;
    pointer-events: none;
}

label.error::before {
    content: url('https://api.iconify.design/clarity:help-info-line.svg?color=%233c2b8c&height=17');
    vertical-align: -0.125em;
}

/*? fin mensajerror form*/

/**=====CSS DEL SIDEBAR  =====*/
/**===== l NAV =====*/
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/**===== NAV =====*/
.barra {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brandSide {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggleSide {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logoSide {
    color: var(--white-color);
    font-weight: 600;
}

.nav__linkSide {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__linkSide:hover {
    background-color: var(--first-color);
}


.nav__iconSide {
    font-size: 1.25rem;
}

.nav__nameSide {
    font-size: var(--small-font-size);
}

/**Expander menu*/
.expander {
    width: calc(var(--nav-width) + 9.25rem);
}

/*?Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/*?Active links menu*/
.active {
    background-color: var(--first-color);
}

/*?COLLAPSE*/
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__linkSide {
    justify-self: flex-end;
    transition: .5s;
}

.collapse__menuSide {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublinkSide {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublinkSide:hover {
    color: var(--white-color);
}

/*?Show collapse*/
.showCollapse {
    display: block;
}

/*?Rotate icon*/
.rotate {
    transform: rotate(180deg);
}

#info_menu {
    word-wrap: pre-wrap;
    white-space: normal;
    width: 130px;
}

#pic_menu {
    width: 45px;
    border-radius: 100%;
}

#pic_Theme,
#pic_Theme2 {
    width: 248px;
    height: 211px;
}

.nav__logoSide,
.collapse__sublink {
    text-decoration: none;
}

.nav_hidden {
    display: none;
}

.nav-Active {
    display: block;
}

/*?boton cerrar sesión*/
.wrapperBtn {
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.link_wrapperBtn {
    position: relative;
}

.link_wrapperBtn a {
    line-height: 80px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .35s;
    cursor: pointer;
}

.iconBtn {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.iconBtn svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #b67ffe;
    transition: all .35s;
}

.link_wrapperBtn a:hover {
    width: 5px;
    border: 1px solid #b67ffe;
    background: transparent;
    color: #b67ffe;
}

.link_wrapperBtn a:hover+.iconBtn {
    border: 1px solid #b67ffe;
    right: -5%;
}

/*?pagina central*/

#ContenidoPagHome_barra {
    width: 70%;
    display: flex;
    font-size: 22px;
    color: #eaeaea;
    justify-content: space-between;
    margin: -250px auto;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.35);
    border-radius: 80px;

}

.profilebox {
    position: relative;
    min-height: 20px;
    max-width: 700px;
    width: calc(60% - 120px);
    border-radius: 8px;
    padding: 50px 20px 20px 100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.profpic {
    position: absolute;
    top: 2px;
    left: -60px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}


.prof-name {
    display: block;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 26pt;
}

.prof-user {
    display: block;
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
    font-size: 11pt;
}

.container {
    width: 960px;
    max-width: 95%;
    margin: 0 auto;
}

.heading {
    padding: 100px 0 80px;
    text-align: center;
}

.heading h3 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
}

.heading p {
    line-height: 1.7;
    font-weight: 500;
}

.hero {
    height: 80vh;
    padding: 250px 0px 100px;
    background-color: #81aba8;
    background: linear-gradient(120deg, #8231D0 35%, #D262B3 35%);

    position: relative;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .image {
    width: 30%;
}

.hero .image img {
    position: absolute;
    top: 250px;
    bottom: 50px;
    z-index: 1;
}

.hero .details {
    width: 50%;
}

.hero .details .top {
    margin-bottom: 370px;
}

.hero .details .top h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 300px auto;
}

.hero .details .top h2 span {
    color: #8231D0;
}



/*ends hero*/

.services {
    background: #2A2E37;
    color: #fefefe;
    padding: 100px 0;

    position: relative;
    z-index: 2;
}

.services .container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.services .left {
    width: 320px;
    margin: 30px 10px;
}

.services .left h3 {
    font-size: 1.8em;
    margin-bottom: 40px;
}

.services .left p {
    color: #c5c5c5;
    margin-bottom: 50px;
}

.services .left a {
    padding: 10px 30px;
    border-radius: 4px;
    background: #8231D0;
    color: #fff;
    font-weight: 500;

    transition: .3s background;
}

.services .left a:hover {
    background: #81aba8;
}

.services .right {
    width: 280px;
    height: 320px;
    margin: 30px 10px;
}

.services .right .center {
    width: 100%;
    height: 100%;
    background: #383d48;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*ends services*/

.testimonials {
    background: #8231D0;
    padding: 50px 0px;

    position: relative;
}

.testimonials .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.testimonials .left {
    width: 36%;
    height: 450px;
}

.testimonials .left img {
    position: absolute;
    top: 350px;
    z-index: 1;
}

.testimonials .right {
    width: 55%;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
}

.testimonials .right .quote p {
    margin-bottom: 15px;
    font-style: italic;
    font-weight: 500;
}

.testimonials .right .quote cite {
    font-size: 1.2em;
    color: #81aba8;
}

/*ends testimonials*/

.join {
    position: relative;
    z-index: 3;
    background: #262a33;
    color: #fff;
    padding: 0 0 100px;
}

.join .heading h3 {
    color: #fff;
}

.join .Form-action {
    text-align: center;
}

.containerSlack {
    display: inline-block;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.containerSlack a {
    color: #fff;
    background: #8231D0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 35px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.containerSlack a:hover {
    background: #821de0;
}

.containerSlack a span {
    color: #000;
    position: absolute;
    font-family: sans-serif;
    width: 150px;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.containerSlack a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.containerSlack a:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}

.fa-slack {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #D262B3;
}

/*ends join*/

footer {
    background-color: #f9f9f9;
    padding: 100px 0px;
}

footer .container {
    text-align: center;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    font-weight: 700;
    color: #262a34;
}

footer p a {
    color: #8231D0;
}