/*!Código CSS DEL BODY PRINCIPAL DONDE SE VAN A ESTAR CARGANDO LOS DIV,MAIN Y SECCIONS DINÁMICOS*/

body {
    background-color: #FAFAFF;
}

/**===== LOADER de la app (corazón morado que carga) =====*/
.hidden_BD {
    overflow: hidden;
}

.LoadBd {
    position: relative;
    height: 100vh;
}

/*? modo blur  para las alertas*/
body.swal2-shown>[aria-hidden="true"] {
    filter: blur(10px);
}

body>* {
    transition: 0.1s filter linear;
}

/**===== MODO OSCURO (NOVA) =====*/
body.dark {
    background-color: #161616;
}

body.dark p {
    color: #F0EFF4;
}

.dark h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F0EFF4;
}

/*? sidebar y tab-bar oscuro*/
body.dark #movePage a {
    color: #574AE2;
}

body.dark .nav__linkSide:hover {
    background-color: #574AE2;
}

body.dark .active {
    background-color: #574AE2;
}

/*? seccion entreno oscuro*/
body.dark .todo:hover {
    background-color: rgba(19, 22, 192, 0.432);
}

body.dark .checkbox-container {
    color: #F0EFF4;
}

body.dark .todo button {
    background-color: #F0EFF4;
}

body.dark #lists .list {
    background-color: #574AE2;
}

body.dark #add-container {
    background-color: #023e8a;
    margin: 10px 0;
    padding: 10px;
}

body.dark main {
    background-color: #03045e;
}

body.dark #add-container form::before {
    content: '';
    border: solid #574AE2;
}

body.dark .fa-cloud-download {
    color: #574AE2;
}

body.dark #slist {
    background-color: #023e8a;
}

/*? seccion nutricion oscuro*/
body.dark .resultado_bsqFood {
    background-color: #000011;
}

body.dark .resultado_bsqFood .titulo_item {
    color: #023e8a;
}

body.dark .view-btn {

    background-color: #574AE2;
}

body.dark .NUform {
    border: 4px solid #574AE2;
}

body.dark .fa-search {
    color: #574AE2;
}

/*? seccion salud oscuro*/
body.dark #conteinerCal {
    background-color: #03045e;
}

body.dark .contenedor_Relog {
    background-color: #03045e;
}

body.dark .valor_relog {
    background: linear-gradient(-135deg,
            #574AE2,
            #023e8a);
    box-shadow: 0 0 20px rgba(4, 0, 253, 0.25);
}

body.dark .btn_Relog button {
    background-color: #574AE2;
}

body.dark .contenedor_imc {
    background-color: #03045e;
}

body.dark .selec input[type="range"] {
    background-color: #574AE2;
}

body.dark .selec input[type="range"]::-webkit-slider-thumb {
    background-color: #574AE2;
}

body.dark #categoria {
    color: #1ab3e2;
}

body.dark .btn.btn-block.btn-info {
    background-color: #574AE2;
    border-color: #574AE2;
}

/*? seccion Home oscuro*/
body.dark #containerlg button {
    border: 1px solid #574AE2;
    background-color: #574AE2;
}

body.dark .overlay {
    background: #574AE2;
    background: -webkit-linear-gradient(to right, #4839e7, #574AE2);
    background: linear-gradient(to right, #4839e7, #574AE2);
}

body.dark #containerlg h1 {
    color: black;
}

body.dark .iconBtn svg {
    fill: #574AE2;
}

body.dark .link_wrapperBtn a:hover {
    border: 1px solid #574AE2;
    color: #574AE2;
}

body.dark .link_wrapperBtn a:hover+.iconBtn {
    border: 1px solid #574AE2;
}

body.dark .hero {
    background: linear-gradient(120deg, #4839e7 35%, #574AE2 35%);
}

body.dark .hero .details .top h2 span {
    color: #3993e7;
}

body.dark .services .left a {
    background: #574AE2;
}

body.dark .testimonials {
    background: #4839e7;
}

body.dark .testimonials .right {
    background: #383d48;
}

body.dark .testimonials .right .quote cite {
    color: #574AE2;
}

body.dark .containerSlack a {
    background: #574AE2;
}

body.dark .containerSlack a:hover {
    background: #3b2ddb;
}

body.dark .fa-slack {
    color: #F0EFF4;
}

body.dark .containerSlack a span {
    background: #383d48;
    color: #fff;
}

body.dark .containerSlack a span:before {
    border-top: 5px solid #383d48;
}

body.dark footer {
    background-color: #161616;
}

body.dark footer p a {
    color: #4839e7;
}

/*? error formulario*/
body.dark label.error {
    background: #574AE2;
    border-left: 8px solid #023e8a;
}

/*? sweet alert oscuro*/
body.dark .swal2-popup {
    background: #19191a;
}

/**===== FIN MODO OSCURO (NOVA) =====*/

/**===== Loader=====*/
.contenedor_Load {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor_Load .preloader {
    animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.preloader span {
    position: absolute;
    z-index: 1;
    display: block;
    height: 64px;
    width: 64px;
    background: #8231D0;
    border: 1px solid #8231D0;
    border-radius: 100%;
}

.preloader span:nth-child(1) {
    transform: translate(-28px, -28px);
    animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_1 {
    60% {
        transform: scale(0.4);
    }
}

.preloader span:nth-child(2) {
    transform: translate(28px, -28px);
    animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_2 {
    40% {
        transform: scale(0.4);
    }
}

.preloader span:nth-child(3) {
    position: relative;
    border-radius: 0px;
    transform: scale(0.98) rotate(-45deg);
    animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_3 {
    50% {
        border-radius: 100%;
        transform: scale(0.5) rotate(-45deg);
    }

    100% {
        transform: scale(0.98) rotate(-45deg);
    }
}

.shadow {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 16px;
    width: 64px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shadow {
    50% {
        transform: translateX(-50%) scale(0.5);
        border-color: #f2f2f2;
    }
}


#movePage {
    display: flex;
    z-index: 100;
    /* considerable whitespace surrounding the navigation's items */
    padding: 2rem 3.15rem;
    border-radius: 0 0 30px 30px;
    position: fixed;
    bottom: 0px;
    right: 33%;
}

/* remove default style and slightly separate the anchor links from one another */
#movePage a {
    color: #8231D0;
    text-decoration: none;
    margin: 0 0.2rem;
    /* display the svg icon and span elements side by side, vertically aligned */
    display: flex;
    align-items: center;
    /* include padding for the background applied on the active item */
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    /* position relative for the pseudo element */
    position: relative;
    /* custom properties for the colors picked up by the elements when clicked (and updated for each link in the script) */
    --hover-bg: #5b37b720;
    --hover-c: #5b37b7;
}

/* include considerable negative margin to have the svg icon overlapping with the span element */
#movePage a svg {
    margin-right: -2.5rem;
    width: 28px;
    height: 28px;
    pointer-events: none;
    /* transition for the change in margin */
    transition: margin 0.2s ease-out;
}

/* by default hide the span element */
#movePage a span {
    opacity: 0;
    visibility: hidden;
    font-size: 0.9rem;
    margin-left: 0.9rem;
}

/* include with a pseudo element relative to the anchor link a circle, with a fixed with and height */
#movePage a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* positioned to the left of the anchor link and scaled to 0 */
    transform: translate(0%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
}

/* when active */
/* specify the colors dictated by the custom properties */
#movePage a.active {
    background: var(--hover-bg);
    color: var(--hover-c);
}

/* using the color specified by the then updated custom property show the circle of the pseudo element increasing its size and highlighting it momentarily */
#movePage a.active:before {
    background: var(--hover-c);
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, -50%) scale(2);
    /* transition only when the class is applied */
    transition: all 0.4s ease-out;
}

/* remove the margin applied to the svg to make it overlay atop the anchor link */
#movePage a.active svg {
    margin-right: 0;
}

/* show the span element */
#movePage a.active span {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-out;
}

/*?mensaje error movil*/
.movilError_boton {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: #7b2cbf;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    animation: spring 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes spring {
    0% {
        transform: scale(1) translateY(0);
    }

    10% {
        transform: scale(1.2, 0.6);
    }

    30% {
        transform: scale(0.8, 1.1) translateY(-50px);
    }

    50% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}